
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
What is assistive technology?
{% endblock %}

{% block content %}

<div class="govuk-grid-row" id="wrapper">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" id="main-heading">
      What is Assistive Technology?
    </h1>
    <div class="govuk-error-summary govuk-visually-hidden" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <a id="focus-link" href="#email-form">The whole form must be filled in</a>
          </li>
        </ul>
      </div>
    </div>
    <p>
      Assistive technology (AT) is technology that helps people with disabilities. It helps them to do everyday activities such as walk, watch films, eat and bathe.
    </p>
    <p>
      AT helps to make people more independent, improve social inclusion and reduce costs of having a carer or interpreter 24/7
    </p>
    <div>
      <a href='https://en.wikipedia.org/wiki/Assistive_technology'> Read about assistive technology on Wikipedia </a>
    </div>

    <p class="govuk-!-margin-top-4">As software teams, when we talk about AT we are referring to help people use digital services, such as screenreaders. A screen reader is an assistive technology which is essential to people who are blind as well as useful to people who are visually impaired, illiterate, or have a learning disability.
      Screen readers show the information on the screen in a non-visual way such as reading it out.</p>

      <h2 class="govuk-heading-l">What do people use?</h2>
      <img src="/public/images/graph.png" alt="" />

      <p>
        30% of users use screen magnifiers, 29% use screen readers, 18% use speech recognition, 15% use readability software and 8% of users use something else.
      </p>
      <h3 class='govuk-heading-m'>Screen Magnifier</h3>
      <div>
        <p>A screen magnifier is software that interfaces with a computer's graphical output to present enlarged screen content. By enlarging part (or all) of a screen, people with visual impairments can better see words and images. This type of assistive technology is useful for people with some functional vision; people with visual impairments and little or no functional vision usually use a screen reader.</p>
      </div>

      <h3 class='govuk-heading-m'>Screen Reader</h3>
      <div>
        <p>The most widely used screen readers are often separate commercial products: JAWS from Freedom Scientific, NonVisual Desktop Access (NVDA) from NV Access, Window-Eyes from GW Micro, Dolphin Supernova by Dolphin, System Access from Serotek, and ZoomText Magnifier/Reader from AiSquared are prominent examples.
        </div>
        <table class="govuk-table">
          <caption class="govuk-table__caption">Screenreaders and OSes</caption>
          <p class="govuk-!-margin-top-4">Screenreaders are OS specific, use this chart to look up which ones are available to you.</p>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Screenreader</th>
              <th scope="col" class="govuk-table__header">Mac</th>
              <th scope="col" class="govuk-table__header">Windows</th>
              <th scope="col" class="govuk-table__header">More Information</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Voiceover</th>
              <td class="govuk-table__cell ">Yes</td>
              <td class="govuk-table__cell ">No</td>
              <td class="govuk-table__cell "><a href="https://help.apple.com/voiceover/mac/10.14/">Voiceover User Guide</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">JAWS</th>
              <td class="govuk-table__cell ">No</td>
              <td class="govuk-table__cell ">Yes</td>
              <td class="govuk-table__cell "><a href="https://www.freedomscientific.com/products/software/jaws/">JAWS web site</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">NDVA</th>
              <td class="govuk-table__cell ">No</td>
              <td class="govuk-table__cell ">Yes</td>
              <td class="govuk-table__cell "><a href="https://www.nvaccess.org/download/">Download NVDA</a></td>
            </tr>
          </tbody>
        </table>

        <h3 class='govuk-heading-m'>Speech Recognition</h3>
        <div>
          <p>Speech recognition is a interdisciplinary subfield of computational linguistics that develops methodologies and technologies that enables the recognition and translation of spoken language into text by computers. It is also known as automatic speech recognition (ASR), computer speech recognition or speech to text (STT). It incorporates knowledge and research in the linguistics, computer science, and electrical engineering fields.</p>
        </div>

        <h2 class="govuk-heading-m">Register for our newsletter</h2>
        <form id="email-form" action='/confirmation' method="POST">
          <div class="govuk-form-group">
            <span id="form-error" class="govuk-error-message govuk-visually-hidden">
              <span class="govuk-visually-hidden">Error:</span> Please add all details to the form
            </span>
            <label class="govuk-label" for="full-name" autocomplete="name">
              Full name
            </label>
            <input class="govuk-input" id="full-name" name="full-name" type="text">
            <label class="govuk-label" for="email">Email Address</label>
            <input class="govuk-input" id="email" name="email" type="text" autocomplete="email">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <div class="govuk-label">
                    How often do you want to recieve the newsletter?
                  </div>
                </legend>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="frequency" name="frequency" type="radio" value="daily">
                    <label class="govuk-label govuk-radios__label" for="frequency">
                      Daily
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="frequency-2" name="frequency" type="radio" value="weekly">
                    <label class="govuk-label govuk-radios__label" for="frequency-2">
                      Weekly
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <button id="go-confirm" class="govuk-button" type="submit">Register</button>
        </form>

      </div>
    </div>

    {% endblock %}

    {% block footer %}
    <a href="/">Go to bad page</a>
    {% endblock %}
